@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root{
    --font:'Lato',sans-serif;
    --color:#ffd861;
    --hover-color:#F7BA00;
}

#navbar{
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;
    height:6vw;
    width: auto;
    padding: 20px;
    font-family: var(--font);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    background-color: white;
}

/* Portfolio heading */
#navbar #nav-head{
    font-size: 2vw;
    position: relative;
    left:5%;
    top:15%;
}
#nav-head span{
    height: 0.5vw;
    width: 0.5vw;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    left:2%;
}

#nav-head i{
    margin-right:5px;
    color:var(--hover-color);
}
/* navbar items ul */

#list-items{
    margin-right: 35px;
    padding-top: 8%;
    
}
#list-items li{
    display: inline-block;
    font-size: 1.2vw;
    margin-left: 9px;
    letter-spacing: 0.5px;
}


#list-items li a{
  text-decoration: none;
  color:inherit;
  transition: all 0.3s ease-out;
}

/* List items a hover effect  */

#list-items li a:hover{
    border-bottom: 2px solid var(--hover-color);
    color:var(--hover-color)
}
.dropdown{
    display: none;
}



/* resume button div */
#resume-butn{
 position: relative;
 right:5%;
 top:10%;
 width: 9%;
}
#resume-tag{
    text-decoration: none;
    color:black ;
}
#resume-butn button:hover a{
    color:white;
}

/* resume button */
#resume-butn button{
    padding: 8%;
    letter-spacing: 1px;
    width:100%;
    font-size: 1.1vw;
}

/* line below navabar */
hr{
    width:88%;
    position: relative;
    left:6%;
}

/* About section */
#about{

    background-color:var(--color);
    height:40em;
    width: 91%;
    border-bottom-left-radius:50%; 
    border-bottom-right-radius:50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font);
    margin-right: auto;
    margin-left:auto;
    
}
#about-me{
    position: relative;
    top:-10%;
    left:12%;
}

#about-me h1{
    font-weight: 600;
    font-size: 2.5vw;
}
#main-about{
    font-size:1.5vw;
}
#occupation{
    color: white;
    font-weight:400;
    letter-spacing: 1px;
    font-size: 1.6vw;
}

#about-me p{
    width:30%;
    font-size: 1.2vw;
    font-family: var(--font);

}


/* about image */

#about-image{
width:19%;
height: 48%;

position: relative;
bottom: 11%;
right: 10%;
object-fit: cover;
}

#about-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  
}
#contact-icon{
    width:15%;
    font-size: 1.4vw;
    display: flex;
    justify-content: space-between;
    color: white;

}
#contact-icon div a{
    text-decoration: none;
    color: white;
}
#contact-icon div {
    transition:transform 0.25s ;
    height: 1vw;
    width: 1vw;
}
#contact-icon div a:hover{
    color:black;
}

#contact-icon div:hover{
     color:black;
     transform: translateY(-7px) ;
}

/* hire button */
#hire-btn button{
    border-radius:0 ;
    color:white;
    font-size: 1.2vw;
}
#hire-btn span i{

    font-size: 1.2vw;
    margin-right:2px;
   
}
#hire-btn a:nth-child(1)
{
    color:white;
    text-decoration: none;
    font-size: 1.2vw;
}
#hire-btn a:nth-child(2){
    text-decoration: none;
    color:black;
    font-size: 1.2vw;

}


/* Education section */

.Education{
    width: 100%;
    

}
.section-heading{
    font-family: var(--font);
    font-weight: 600;
    text-align: center;
    font-size: 2vw;

}

/* education cards */
#education-cards{
    width:88%;
    height: 22em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    padding:2rem;
}

.edu-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:20%;
    background-color: white;
    box-shadow: 0px 5px 20px 1px;
    transition: 0.5s transform ease;

}
.edu-cards:hover{
    transform: scaleX(1.1) scaleY(1.1);
    
}
.edu-cards .card-img{
    height: 50%;
    padding-top:7%;
    
}

.edu-cards .card-img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.edu-cards .card-content{
    padding: 7%;
    text-align: center;
    font-family: var(--font);
}

.edu-cards .card-content h5{
    font-size: 1.2em;
    font-weight: 800;

}
.edu-cards .card-detail p{
    margin-bottom: 0.5rem;
}

/* Skills section */
#Skills{
    background: linear-gradient(to bottom right, rgba(255,241,198,1) 0%, rgba(255,216,97,1) 59%);
    padding: 2em;
    width: 87%;
    margin-right: auto;
    margin-left:auto;
}

#skill-container{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    


}
.skills{
    width:21%;
    height:70%;
    text-align: center;
    padding: 1em;
     

}
.skills img{
    object-fit: contain;
    width: 29%;
}
.skills .skill-content{
    font-family: var(--font);
    font-size: 1em;

}
.skill-content p:nth-child(1)
{
    font-weight: bold;
    font-size: 1.2vw;
}
.skill-content p:nth-child(2)
{
    font-size: 1vw;
}
.skills:nth-child(2) img{
      
       width: 22%;
}
.skills:nth-child(5),.skills:nth-child(6){
    margin-top:5px;
}





/* Project section */

#carouselExampleCaptions{
	width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--font);
	
}
#carouselExampleCaptions img{
	height: 100%;
	filter: brightness(50%);
	/* max-height: 600px; */
}


.carousel-caption h5
{
font-weight: 600;
font-size:1.3em
}

.carousel-caption p{
      font-size:1.3vw;

}
.carousel-caption p span{
    font-weight: 660;
}


.carousel-caption p #spot
{
    color:#1ED760;
}


/* Intersts section */
#intrest{
    color:white;
    background-color: #04091E;
    font-family: var(--font);
    padding: 2em;
    
}
#intrest h1{
    text-align: start;
}
#flex-interest{
    display: flex;


}
#intrest-content{
    width:50%;
}
#intrest-content h6{
   font-size:1.2vw;
   
}

#contact-form{
    align-self: center;
    margin-left:auto;
   margin-right:auto;

}
.intrest-item{
  margin-bottom:1.2px;
}

#ques-btn{
    background-color: var(--hover-color);
}

.input-group{
    width:90% !important;
}

#inp:focus{
    outline: none;
    box-shadow: none;
}

/* Follow me section */
#follow-me{
    font-family: var(--font);
    margin-top:3.5em;
    
    
}

#follow-me h6{
   font-size: 1.2vw;   
   text-align: center;
}
#follow-links{
    text-align: center;
}
#follow-me h6 span{
    color:var(--hover-color);
    margin-right:2px;
}
#follow-links a{
    color:white;
    
}
#follow-links div{
    display: inline-block;
    margin-right: 1.2em;
    position:relative;
    left:0.5em;
    transition:transform 0.25s ;
}
#follow-links div:hover{
    transform: translateY(-7px) ;
}

#follow-links div a:hover{
    color:var(--hover-color)
}

#copyright p{
    color:#625F5F;
    font-size:0.8vw;
    text-align: center;
}





/* reveal and active css */

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1.2s ease;

}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}
.fitology a{
    color:white;
    text-decoration: none;
}
.fitology a:hover{
    color:white;
}